.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: auto;
    width: 30%;
}
.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: auto;
    width: 7%
}

.center3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: auto;
    width: 10%;
}

.over-video {
    position: relative;
    top: 15px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    width: 30%;
}

.video-button{
    position: relative;
    top: 50px;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    width: 10%;
}

.in-video {
    width: 100%;
    height: auto;
}

video {
    object-fit: fill;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

}

.backgroundintro {
    width: 100px;
    object-fit: cover;

}
